rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && exists(/databases/$(database)/documents/usuarios/$(request.auth.uid))
        && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol == 'admin';
    }

    match /destinos/{destinoId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /usuarios/{usuarioId} {
      allow read: if request.auth != null;

      allow create: if isAdmin()
        || (
          request.auth != null
          && request.auth.uid == usuarioId
          && request.resource.data.rol == 'user'
        );

      allow update, delete: if isAdmin();
    }
   match /opiniones/{opinionId} {
  allow read: if true;

  allow create: if request.auth != null
    && request.resource.data.usuarioId == request.auth.uid;

  allow update: if request.auth != null
    && (
      resource.data.usuarioId == request.auth.uid
      || isAdmin()
    )
    && request.resource.data.usuarioId == resource.data.usuarioId
    && request.resource.data.usuarioEmail == resource.data.usuarioEmail;

  allow delete: if request.auth != null
    && (
      resource.data.usuarioId == request.auth.uid
      || isAdmin()
    );
}
  }
}