<header>

  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

  <nav [class.abierto]="menuAbierto">

    <a
      routerLink="/"
      routerLinkActive="activo"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="cerrarMenu()">
      Inicio
    </a>

    <a
      routerLink="/Destinos"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Destinos
    </a>

    <a
      routerLink="/promociones"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Promociones
    </a>

    <a
      routerLink="/Opiniones"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Opiniones
    </a>

    <a
      routerLink="/MisReservas"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Mis Reservas
    </a>

    <a
      routerLink="/Contactanos"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Contactanos
    </a>

    <a
      routerLink="/Conocenos"
      routerLinkActive="activo"
      (click)="cerrarMenu()">
      Conocenos
    </a>

    @if (userService.UsuarioLogueado?.rol === 'admin') {
      <a
        routerLink="/admin-usuarios"
        routerLinkActive="activo"
        (click)="cerrarMenu()">
        Admin Usuarios
      </a>
    }

    <button
      class="btn-salir"
      (click)="cerrarMenu(); cerrarSesion()">
      Salir
    </button>

  </nav>

</header>