.principal{
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}


nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding:10px 20px;
}
nav a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h1 {
  position: absolute;
  color: white;
  font-size: 70px;
  font-weight: bold;

  opacity: 0;
  animation: aparecerTitulo 3s ease forwards;
}

@keyframes aparecerTitulo {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
