<div class="card" [class.agotado]="destino?.cupos === 0">

  <img [src]="destino?.imagen" [alt]="destino?.nombre">

  <h3>{{ destino?.nombre }}</h3>

  @if (mostrarDescripcion) {
    <p>{{ destino?.descripcion || 'Hermoso destino turístico' }}</p>
  }

  <span>${{ destino?.precio }}</span>

  @if (destino?.cupos === 0) {
    <p class="texto-agotado">AGOTADO</p>
  }

  <button
    class="btn-descripcion"
    (click)="toggleDescripcion()">
    {{ mostrarDescripcion ? 'Ver menos' : 'Mostrar Descripción' }}
  </button>

  <button
    class="btn-reservar"
    (click)="reservar()"
    [disabled]="destino?.cupos === 0">
    {{ destino?.cupos === 0 ? 'Agotado' : 'Reservar' }}
  </button>

</div>