<app-header></app-header>


<h2>Administrar Usuarios</h2>
<button class="agregar" (click)="nuevoUsuario()">
 Agregar Usuario
</button>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    @for (usuario of usuarios; track usuario.id) {
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td>
          <button (click)="editar(usuario)">Editar</button>
          <button class="eliminar" (click)="eliminar(usuario.id)">Eliminar</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (usuarioEditando) {
  <div class="formulario-edicion">

    @if (usuarioEditando.id === 0) {
      <h3>Agregar Usuario</h3>
    } @else {
      <h3>Editar Usuario</h3>
    }

    <input
      type="text"
      [(ngModel)]="usuarioEditando.nombre"
      placeholder="Nombre">

    <input
      type="email"
      [(ngModel)]="usuarioEditando.email"
      placeholder="Email">
    <input
      type="password"
      [(ngModel)]="usuarioEditando.contrasena"
      placeholder="Contraseña">

    <select [(ngModel)]="usuarioEditando.rol">
      <option value="admin">Admin</option>
      <option value="user">Usuario</option>
    </select>

    <button (click)="guardarCambios()">Guardar cambios</button>
    <button (click)="cancelar()">Cancelar</button>

  </div>
}
   <h2>Administrar Precios de Destinos</h2>

<button class="agregar" (click)="nuevoDestino()">
  Agregar Destino
</button>
@if (destinoEditando) {
  <div class="formulario-edicion">
    <h3>Agregar Destino</h3>

    <input
      type="text"
      [(ngModel)]="destinoEditando.nombre"
      placeholder="Nombre del destino">

    <textarea
       [(ngModel)]="destinoEditando.descripcion"
       placeholder="Descripción del destino">
    </textarea>
    <input
       type="number"
       [(ngModel)]="destinoEditando.precio"
       placeholder="Precio">

    <input
       type="text"
       [(ngModel)]="destinoEditando.imagen"
       placeholder="Ruta de la imagen"> 

    <button (click)="guardarDestino()">
       Guardar Destino
    </button>

  </div>
}


<table>
  <thead>
    <tr>
      <th>Destino</th>
      <th>Precio</th>
      <th>Acción</th>
    </tr>
  </thead>

  <tbody>
    @for (destino of destinos; track destino.id) {
      <tr>
        <td>{{ destino.nombre }}</td>

        <td>
          <input
            type="number"
            [(ngModel)]="destino.precio">
        </td>

        <td>
          <button (click)="cambiarPrecio(destino)">
            Guardar Precio
          </button>
          <button class="eliminar" (click)="eliminarDestino(destino.id)">
            Eliminar Destino
          </button>
        </td>
        
        
      </tr>
    }
  </tbody>
</table>